[SM]
## path to rscript
rscript=/usr/bin/Rscript
## keep temporary files - useful for debugging
keep_tmp_files=0
## path to tabix binary
tabix_bin=
## default path to snp catalogue
default_snp_catalogue=
## tabix region default chuck size
tabix_chunksize=10
## default path to ensmart
default_mart_host=feb2012.archive.ensembl.org
## default number of perms to create per job
default_perm_per_chunk=1000
## location (not host specific e.g NOT /tmp) to write grid files
grid_scratch=
## name of driver to use to handle submission to Q.
grid_driver=SGE
## location of grid software configuration
grid_config_path=$SANDMAN/conf/GRID.cnf
## R_LIBS location (if blank then env variable is used).
r_libs=
